<!-- Nav Bar  -->
<nav class="navbar navbar-light sticky-top navbar-expand-lg">
  <ul class="navbar-nav mr-auto">
    <span class="pad-left">
      <li class="nav-item">
        <a class="navbar-brand" href="#">Ryan Hernandez</a>
      </li>
    </span>
  </ul>
  <span class="pad-right">
    <ul class="navbar-nav ml-auto nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="aboutme-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="experience-link">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="project-link">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="bottom-link">Contact</a>
      </li>
    </ul>
  </span>
</nav>

<!-- Main Page -->
<div class="col-sm-12">
  <div align="center">
    <div class="col-sm-10">
      <div class="box">

        <!-- About Section -->
        <div class="row">
          <div class="col-sm-6" id="aboutme-link" style="padding-top: 100px;">
            <div class="crop">
              <img src="assets/ryanandbrittni.png">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about">
              About Me
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Eget mi proin sed libero. Adipiscing enim eu turpis egestas pretium aenean
                  pharetra
                  magna. Nibh nisl condimentum id venenatis. Varius vel pharetra vel turpis nunc eget lorem dolor.
                  Felis
                  donec
                  et odio pellentesque diam volutpat commodo sed egestas.
                </div>
                <div class="carousel-item">
                  <br><br>
                  Sed vulputate odio ut enim blandit volutpat maecenas
                  volutpat. Ut diam quam nulla porttitor massa id neque aliquam. Massa sed elementum tempus egestas
                  sed
                  sed.
                  Mauris commodo quis imperdiet massa. Dolor sit amet consectetur adipiscing elit ut aliquam purus.
                  Maecenas
                  pharetra convallis posuere morbi leo urna molestie at. Tellus cras adipiscing enim eu turpis egestas
                  pretium
                  aenean pharetra.
                </div>
                <div class="carousel-item">
                  <br><br>
                  Arcu risus quis varius quam quisque id. At imperdiet dui accumsan sit amet. Iaculis at erat
                  pellentesque
                  adipiscing commodo. Felis eget nunc lobortis mattis aliquam. Accumsan sit amet nulla facilisi morbi.
                  Iaculis
                  nunc sed augue lacus viverra. Sagittis eu volutpat odio facilisis. Id diam maecenas ultricies mi
                  eget
                  mauris
                  pharetra et ultrices. Ipsum dolor sit amet consectetur. Turpis cursus in hac habitasse platea.
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Resume Section -->
        <div class="row" align="left">
          <div class="col-sm-6">
            <div class="resume-title" id="experience-link">
              Experience
            </div>
          </div>
          <div class="col-sm-6" id="experience">
            <div class="resume">
              <div class="resume-container left">
                <div class="content">
                  <h2>Aug 2017</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua. Eget mi proin sed libero. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra
                    magna. Nibh nisl condimentum id venenatis. Varius vel pharetra vel turpis nunc eget lorem dolor.
                  </p>
                </div>
              </div>
              <div class="resume-container right">
                <div class="content">
                  <h2>2016</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua. Eget mi proin sed libero. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra</p>
                </div>
              </div>
              <div class="resume-container left">
                <div class="content">
                  <h2>2015</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua.</p>
                </div>
              </div>
              <div class="resume-container right">
                <div class="content">
                  <h2>2014</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua. Eget mi proin sed libero. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra
                    magna. Nibh nisl condimentum id venenatis. Varius vel pharetra vel turpis nunc eget lorem dolor.
                  </p>
                </div>
              </div>
              <div class="resume-container left">
                <div class="content">
                  <h2>2013</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Projects Section -->
        <div class="row">
          <div class="col-sm-6">
            <div class="projects-title" id="project-link">
              Projects
            </div>
          </div>
          <div class="col-sm-6">
            <div class="projects">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer  -->
<div class="footer">
  <div class="bottom" id="bottom-link">
    Contact: &nbsp;&nbsp;<a href="mailto:ryanhernandez@ou.edu" target="_blank"><i class="fas fa-envelope"></i></a>
    &nbsp;&nbsp;<a href="https://www.linkedin.com/in/ryan-hernandez-developer" target="_blank"><i
        class="fab fa-linkedin"></i></a>
    &nbsp;&nbsp;<a href="https://github.com/ryan-hernandez" target="_blank"><i class="fab fa-github-square"></i></a>
  </div>
</div>
<div class="message">
  <small style="color: gray;">This web page was designed and created by Ryan Hernandez using Angular
    Typescript</small>
</div>